@font-face {
    font-family: Nunito;
    src: url(../font/Nunito-VariableFont_wght.ttf);
}
:root {
    /* Scrollbar */
    --scrollbarWidth: 0.7em;
    --scrollbarBorder: 0em solid var(--clr-scroll-bg);
    --scrollbarBorderRadius: 0.5em;

    /* Colors */
    --clr-font-1: white;
    --clr-font-2: #c5c5c5;
    --clr-font-3: #a5a5a5;
    --clr-font-error-1: #ff7676;
    --clr-grey-1: #2B2D31;
    --clr-grey-2: #232428;
    --clr-grey-3: #1E1F22;
    --clr-grey-4: #161618;
    --clr-shadow-1: #16161870;
    --clr-scroll-bg: #343434;
    --clr-scroll-thumb: #727272;
    --clr-msg-bg: rgb(70 70 70 / 70%);
    --clr-msg-who: #73bfff;
    --clr-msg-client: rgb(80 105 125 / 70%);
    --clr-msg-input: rgb(80 105 125 / 30%);
    /* --clr-chat-send: #2c3134; */
    /* --clr-chat-send: #31414a; */
    --clr-chat-send: #354046;

    /* Size */
    --sz-auth-wrapper-w: 60vw;
    --sz-auth-wrapper-wmax: 32em;
    --sz-auth-send-form-h: 2em;
    --sz-app-wrapper-w: 95vw;
    --sz-app-wrapper-wmax: 95vw;
    --sz-app-wrapper-h: 99vh;
    --sz-chat-send-form-h: 2em;
    --sz-font-size-1: 1em;

    /* Secial */
    --spec-1: 0.5em;

	font-family: Nunito;
	color: var(--clr-font-1);
    font-size: var(--sz-font-size-1);
}


/* Scrollbar stuff */
* {
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--clr-scroll-thumb) var(--clr-scroll-bg);
}
*::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}
*::-webkit-scrollbar-track {
    background: var(--clr-scroll-bg);
    border-radius: var(--scrollbarBorderRadius);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--clr-scroll-thumb);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
}


/* STD */
button {
    font-family: Nunito !important;
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    background-color: var(--clr-grey-2);
}
#mobile-actions {
    display: none;
}


/* COMMON */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-style {
    width: auto;
    padding: var(--spec-1);
    margin: var(--spec-1);
    border-radius: var(--spec-1);
    background-color: var(--clr-grey-1);
    /* box-shadow: inset 0em 0em var(--spec-1) var(--clr-grey-4); */
    box-shadow: 0em 0em 1em var(--clr-shadow-1);
}
.hide {
    display: none !important;
}


/* AUTH */
body.auth #auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#auth-wrapper {
    width: var(--sz-auth-wrapper-w);
    max-width: var(--sz-auth-wrapper-wmax);
    height: 100vh;
    display: none;
}
#wsc-logo {
    height: auto;
    width: 100%;
    background-color: var(--clr-font-3);
    border-radius: var(--spec-1);
    margin: var(--spec-1);
}
#auth-send-form {
    width: calc(100% - (var(--spec-1)*2));
    position: relative;
    height: var(--sz-auth-send-form-h);
    /* background-color: #2c3340; */
    /* background-color: var(--clr-chat-send); */
}
#auth-input {
    all: unset;
    width: 100%;
    height: 100%;
    position: relative;
    width: calc(100% - var(--sz-auth-send-form-h)*2.5);
    padding: 0 var(--spec-1);
    border-radius: var(--spec-1);
}
#auth-send {
    position: absolute;
    top: var(--spec-1);
    right: var(--spec-1);
    height: var(--sz-auth-send-form-h);
    /* width: var(--sz-chat-send-form-h); */
    width: calc(var(--sz-auth-send-form-h)*2);
    cursor: pointer;
    border-radius: var(--spec-1);
}
#auth-send:hover {
    background-color: var(--clr-msg-bg);
}
#auth-send img {
    height: 80%;
    width: auto;
}
#auth-error {
    color: var(--clr-font-error-1);
}


/* CHAT */
body.chat #app-wrapper {
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: row;
}
#app-wrapper {
    width: var(--sz-app-wrapper-w);
    max-width: var(--sz-app-wrapper-wmax);
    height: var(--sz-app-wrapper-h);
    display: none;
}
#app-wrapper .app-row {
    width: 100%;
}
#app-wrapper #rooms-wrapper {
    width: 25%;
    max-width: 30em;
}
#app-wrapper #chat-wrapper {
    width: 50%;
    max-width: 42em;
}
#app-wrapper #mems-wrapper {
    width: 25%;
    max-width: 30em;
}


#chat-rooms {
    overflow-y: scroll;
    flex-wrap: wrap;
    min-height: 3em;
    height: auto;
    max-height: calc(90vh - 1.5em);
    display: flex;
    flex-direction: column;
}
#chat-rooms .room {
    border-radius: var(--spec-1);
    padding: 0.3em;
    margin: 0.3em;
    color: var(--clr-font-2);
    background-color: var(--clr-msg-bg);
    width: 90%;
    text-align: center;
    cursor: pointer;
}
#chat-rooms .room:hover {
    background-color: var(--clr-scroll-thumb);
    color: var(--clr-font-1);
}
#chat-rooms .room.current {
    color: var(--clr-font-1);
    background-color: var(--clr-msg-client);
}
#chat-rooms-error {
    height: 1.5em;
    max-height: 2.5vh;
    color: var(--clr-font-error-1);
}
#chat-clients-count-wrapper {
    height: 1.5em;
    max-height: 2.5vh;
}
#chat-clients-count {
    margin-left: var(--spec-1);
}

#chat-messages {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    max-height: calc(95vh - var(--sz-chat-send-form-h) - (var(--spec-1)*4));
    /* height: 48em; */
    height: 100%;
}
.msg {
    color: var(--clr-font-1);
    background-color: var(--clr-msg-bg);
    margin: var(--spec-1) 0;
    border-radius: var(--spec-1);
    padding: 0.4em var(--spec-1);
    align-self: flex-end;
    width: 45%;
    word-break: break-word;
}
.msg.server {
    align-self: flex-start;
}
.msg.outer {
    background-color: var(--clr-msg-client);
    align-self: flex-start;
}
.msg .msgtitle {
    display: flex;
    justify-content: space-between;
}
.msg .msgwho {
    color: var(--clr-msg-who);
    max-width: 15em;
}
.msg .msgtime {
    color: var(--clr-font-3);
    display: flex;
    font-size: 0.85em;
}
.msg.notify {
    align-self: center;
    display: flex;
    justify-content: center;
    width: 55%;
}
.msg.notify .msgwho {
    margin-right: 0.5em;
}
.msg.notify .msgtext {
    color: var(--clr-font-2);
    display: flex;
}
.msg.blur .msgtext {
    filter: blur(0.4em);
    transition: filter 0.3s;
}
.msg.blur:hover .msgtext {
    filter: blur(0em);
}
#chat-send-form {
    position: relative;
    height: var(--sz-chat-send-form-h);
    /* background-color: #2c3340; */
    background-color: var(--clr-chat-send);
}
#chat-input,
#chat-input-hint {
    all: unset;
    width: 100%;
    height: 100%;
    position: absolute;
    /* width: calc(100% - var(--sz-chat-send-form-h)*2.5); */
    width: calc(100% - var(--sz-chat-send-form-h)*2.5 - var(--spec-1)*3);
    padding: 0 var(--spec-1);
    height: var(--sz-chat-send-form-h);
    border-radius: var(--spec-1);
}
#chat-input-hint {
    color: var(--clr-font-1);
    opacity: 0.5;
}
/* #chat-input:focus {
    background-color: var(--clr-msg-input);
} */
#chat-send {
    position: absolute;
    top: var(--spec-1);
    right: var(--spec-1);
    height: var(--sz-chat-send-form-h);
    /* width: var(--sz-chat-send-form-h); */
    width: calc(var(--sz-chat-send-form-h)*2);
    cursor: pointer;
    border-radius: var(--spec-1);
}
#chat-send:hover {
    background-color: var(--clr-msg-client);
}
#chat-send img {
    height: 80%;
    width: auto;
}

#chat-clients,
#chat-members {
    overflow-y: scroll;
    flex-wrap: wrap;
    min-height: 3em;
    height: auto;
    max-height: calc(90vh - 1.5em);
}
#chat-clients .member,
#chat-members .member {
    border-radius: var(--spec-1);
    padding: 0.3em;
    margin: 0.3em;
    color: var(--clr-msg-who);
    background-color: var(--clr-msg-client);
}
#chat-clients .member.self,
#chat-members .member.self {
    text-decoration: underline;
}
#chat-members-count-wrapper {
    height: 1.5em;
    max-height: 2.5vh;
}
#chat-members-count {
    margin-left: var(--spec-1);
}

#mobile-actions {
    order: 0;
    width: 100%;
    max-width: 90vw;
    max-height: 6vh;
}
#mobile-actions .action {
    border-radius: var(--spec-1);
    padding: 0.3em;
    margin: 0.3em;
    color: var(--clr-font-2);
    background-color: var(--clr-msg-bg);
    width: 90%;
    text-align: center;
    cursor: pointer;
}
#mobile-actions .action:hover {
    background-color: var(--clr-scroll-thumb);
    color: var(--clr-font-1);
}


/*MOBILE*/
@media screen and (min-width: 320px) and (max-width: 768px) {
	:root {
        --scrollbarWidth: 1em;
        --sz-auth-wrapper-w: 80vw;
        --sz-auth-wrapper-wmax: 38em;
        --sz-font-size-1: 1.3em;
	}
    #mobile-actions {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    body.chat #app-wrapper {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }
    #app-wrapper #rooms-wrapper,
    #app-wrapper #chat-wrapper,
    #app-wrapper #mems-wrapper {
        width: 100%;
        max-width: 90vw;
    }
    #app-wrapper #rooms-wrapper {
        order: 1;
        display: none;
    }
    #app-wrapper #mems-wrapper {
        order: 2;
        display: none;
    }
    #app-wrapper #chat-wrapper {
        order: 3;
        height: 100%;
        max-height: 93vh;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    #chat-rooms { 
        max-height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #chat-clients,
    #chat-members {
        min-height: 2.6em;
        max-height: 100%;
    }

    #app-wrapper #rooms-wrapper.active {
        display: initial;
        height: 100vh;
    }
    #app-wrapper #mems-wrapper.active {
        display: initial;
        height: 100vh;
    }
    .msg {
        width: 70%;
    }
    .msg.notify {
        width: 65%;
    }
}

/*LAPTOP*/
@media screen and (min-width: 769px) and (max-width: 1240px) {
}

/*PC*/
@media screen and (min-width: 1241px) {
}